<div class="d-flex flex-row mt-5 justify-content-around">
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/node.svg"
  /></a>

  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/loopback.svg"
  /></a>
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/mongo.svg"
  /></a>
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/postgres.svg"
  /></a>
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/sequelize.svg"
  /></a>
</div>
<div class="d-flex flex-row mt-5 justify-content-around">
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/angular.svg"
  /></a>
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/bootstrap.png"
  /></a>
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/css.svg"
  /></a>
  <a
    class="mr-3 social-icon"
    target="_blank"
    href="https://www.linkedin.com/in/ahlem-b-18a896129/"
    ><img class="image-skill" src="assets/images/html.svg"
  /></a>
</div>
