<div class="row justify-content-between pt-5 pr-5 pl-5">
  <div class="col">
    <h3>
      WORK HISTORY
    </h3>
    <p>
      <span class="section-title"> LITTLE BIG SMALA SEPT 2019 TO PRESENT </span
      ><br /><br />

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima et est
      quisquam quibusdam vitae maxime veniam, voluptate in, perspiciatis hic
      mollitia impedit harum explicabo at, nemo vel nam doloribus!
    </p>
    <p>
      <span class="section-title">
        SCANTECH SOLUTIONS NOV 2019 TO JUIL 2020</span
      ><br /><br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima et est
      quisquam quibusdam vitae maxime veniam, voluptate in, perspiciatis hic
      mollitia impedit harum explicabo at, nemo vel nam doloribus!
    </p>
  </div>
  <div class="col">
    <h3>
      EDUCATION
    </h3>
    <p>
      <span class="section-title"> Computer science engineering </span
      ><br /><br />
      eniso : the national school of engineers of Sousse. <br />
      2014- 2017 (Tunisia)
    </p>
    <p>
      <span class="section-title"> Preparatory cycle </span><br /><br />

      Ipeiem : prreparatory institute for the engineers studies of Monastir.<br />
      2012-2014 (TUNISIA)
    </p>
    <p>
      <span class="section-title">
        High school diploma (experimental sciences) </span
      ><br /><br />
      Abul kacem chebbi high school 2011 (TUNISIA)<br />
      2007- 2011 (Tunisia)
    </p>
  </div>
</div>
<div class="row justify-content-between pr-5 pl-5">
  <div class="col">
    <h3>
      PROJECTS
    </h3>

    <p>
      <span class="section-title"> BUFFALO </span><br /><br />Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Asperiores, ipsum repudiandae.
      Incidunt eum rerum sed. Ipsum magni illo sint exercitationem! Dignissimos
      quisquam delectus minima! Iusto quae quaerat explicabo sit id.
    </p>
    <p>
      <span class="section-title"> COCABINET </span><br /><br />Lorem, ipsum
      dolor sit amet consectetur adipisicing elit. Asperiores, ipsum
      repudiandae. Incidunt eum rerum sed. Ipsum magni illo sint exercitationem!
      Dignissimos quisquam delectus minima! Iusto quae quaerat explicabo sit id.
    </p>
    <p>
      <span class="section-title"> ETAC </span><br /><br />Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Asperiores, ipsum repudiandae.
      Incidunt eum rerum sed. Ipsum magni illo sint exercitationem! Dignissimos
      quisquam delectus minima! Iusto quae quaerat explicabo sit id.
    </p>
    <p>
      <span class="section-title"> TUNISIA HOTELS BOT </span><br /><br />Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ipsum
      repudiandae. Incidunt eum rerum sed. Ipsum magni illo sint exercitationem!
      Dignissimos quisquam delectus minima! Iusto quae quaerat explicabo sit id.
    </p>
  </div>
  <div class="col">
    <h3>
      MY INTERESTS
    </h3>
    <ul class="a">
      <li>Reading</li>
      <li>Writing</li>
    </ul>
    <h3>
      LANGUAGES
    </h3>
    <ul class="a">
      <li>Arabic</li>
      <li>French</li>
      <li>English</li>
      <li>German (basic)</li>
    </ul>
    <h3>
      CONTACT
    </h3>
    <ul class="a">
      <li>Phone: (+216) 28 69 71 69</li>
      <li>Email: ahlem.benslama92@gmail.com</li>
      <li>Github: https://github.com/ahlemBNS</li>
      <li>Linkedin: https://www.linkedin.com/in/ahlem-b-18a896129/</li>
      <li>Website: https://ahlembns.github.io/portfolio/</li>
    </ul>
  </div>
</div>
