<div class="row justify-content-between pt-5 pr-5 pl-5">
  <div class="col">
    <h1>
      WORK HISTORY
    </h1>
    <p>
      LITTLE BIG SMALA SEPT 2019 TO PRESENT
    </p>
    <p>
      SCANTECH SOLUTIONS NOV 2019 TO JUIL 2020
    </p>
  </div>
  <div class="col">
    <h1>
      EDUCATION
    </h1>
    <p>
      Computer science engineering <br />
      eniso : the national school of engineers of Sousse. <br />
      2014- 2017 (Tunisia)
    </p>
    <p>
      Preparatory cycle<br />
      Ipeiem : prreparatory institute for the engineers studies OF MONSATIR.<br />
      2012-2014 (TUNISIA)
    </p>
    <p>
      High school diploma (experimental sciences)<br />
      Abul kacem chebbi high school 2011 (TUNISIA)<br />
      2007- 2011 (Tunisia)
    </p>
  </div>
</div>
<div class="row justify-content-between pr-5 pl-5">
  <div class="col">
    <h1>
      PROJECTS
    </h1>

    <p>
      BUFFALO
    </p>
    <p>
      COCABINET
    </p>
    <p>
      ETAC
    </p>
    <p>
      TUNISIA HOTELS BOT
    </p>
  </div>
  <div class="col">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat totam,
      fugiat eveniet deleniti reiciendis distinctio et minima molestias, ab
      officiis, non explicabo voluptatem! Quibusdam nostrum dignissimos
      blanditiis consequuntur, quis deleniti?
    </p>
  </div>
</div>
