<h1 class="name">
  Hey :) ..
</h1>
<div class="main">
  <div class="image">
    <img class="rounded-circle" src="assets/images/photo.jpg" />
  </div>
  <div class="overview">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam error
    nihil totam assumenda, laborum accusamus, libero quidem deserunt pariatur in
    nobis dignissimos non ut? Quia, earum? Corrupti, consequatur! Rerum, nemo?
  </div>
  <div class="d-flex flex-row justify-content-center social">
    <a
      class="mr-3 social-icon"
      href="https://github.com/ahlemBNS"
      target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <a
      class="mr-3 social-icon"
      href="https://twitter.com/ahlem06388117"
      target="_blank"
      ><i class="fab fa-twitter"></i
    ></a>
    <a class="mr-3 social-icon" href="#" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      class="mr-3 social-icon"
      target="_blank"
      href="https://www.linkedin.com/in/ahlem-b-18a896129/"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>
  <button class="btn download-btn">
    <i class="fa fa-download"></i> DOWNLOAD MY CV
  </button>
</div>
