.social {
  color: white;
}

.overview {
  font-size: 16px;
  color: aliceblue;
  align-self: center;
}
.image {
  width: 200px;
  height: 250px;
  align-self: start;
  justify-self: center;
}
.name {
  font-size: 50px;
  color: #f30a75;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.social-icon {
  font-size: 200%;
}
.download-btn {
  color: white;
  background-color: #f30a75;
}
.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "photo" "overview"
    "social" "downlod";
  align-items: center;
  justify-items: center;
}
