.social {
  color: white;
}
.menu {
  font-size: 14px;
  color: aliceblue;
  padding-top: 60px;
  text-align: center;
}
.overview {
  font-size: 16px;
  color: aliceblue;
  align-self: center;
}
.image {
  width: 200px;
  height: 250px;
  align-self: start;
  justify-self: center;
}
.name {
  font-size: 50px;
  color: #f30a75;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.social-icon {
  font-size: 200%;
}
.download-btn {
  color: white;
  background-color: #f30a75;
}
.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "photo" "overview"
    "social" "downlod";
  align-items: center;
  justify-items: center;
}

.test {
  color: red;
  font-size: 20px;
}

.second-background {
  background-color: #f7f7fbc4;
  margin-top: 2%;
  height: calc(100vh - 130px);
  border-radius: 10px;
}
.message {
  display: none;
}
