<div class="container">
  <div class="d-flex flex-column center-vertically">
    <div class="d-flex flex-row menu justify-content-end">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
    <h1 class="name">
      Ahlem Ben Slama
    </h1>
    <div class="main">
      <div class="image">
        <img class="rounded-circle" src="assets/images/photo.jpg" />
      </div>
      <div class="overview">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam error
        nihil totam assumenda, laborum accusamus, libero quidem deserunt
        pariatur in nobis dignissimos non ut? Quia, earum? Corrupti,
        consequatur! Rerum, nemo?
      </div>
      <div class="d-flex flex-row justify-content-center social">
        <span class="mr-3 social-icon"><i class="fab fa-github"></i></span>
        <span class="mr-3 social-icon"><i class="fab fa-twitter"></i></span>
        <span class="mr-3 social-icon"><i class="fab fa-instagram"></i></span>
      </div>
      <button class="btn download-btn">
        <i class="fa fa-download"></i> DOWNLOAD MY CV
      </button>
    </div>
  </div>
</div>
