<!-- <img class="photo rounded-circle" src="assets/images/profile.jpg" /> -->
<div class="container">
  <div *ngIf="!started && knowMe === 0" class="welcome-zone">
    <h2 class="text-center">Welcome to my space, <br /></h2>
    <h3 class="text-center">
      I guess you are here to know more about me. <br />
    </h3>
  </div>
  <div *ngIf="started && knowMe !== 0" class="welcome-zone">
    <h2 class="text-center">Here we go ! <br /></h2>
  </div>
  <div class="row justify-content-center">
    <img
      *ngIf="started && knowMe !== 0"
      class="photo rounded-circle"
      src="assets/images/profile.jpg"
    />
  </div>
  <div *ngIf="!started && knowMe === 0" class="row justify-content-center">
    <button type="button" class="start-btn btn round" (click)="start()">
      Go !
    </button>
  </div>

  <br />
  <ngb-progressbar
    *ngIf="started"
    type="warning"
    textType="dark"
    [value]="value"
    [showValue]="true"
    [striped]="true"
    [animated]="true"
    height="35px"
  ></ngb-progressbar>
  <div *ngIf="started" class="d-flex row areas">
    <app-know-me-step
      class="col-3"
      [step]="knowMe"
      [value]="value"
      *ngIf="
        knowMe === 1 ||
        knowMe === 2 ||
        knowMe === 3 ||
        knowMe === 4 ||
        knowMe === 5 ||
        knowMe > 5
      "
    ></app-know-me-step>
    <app-know-me-step
      class="col-3"
      [step]="knowMe"
      [value]="value"
      *ngIf="
        knowMe === 2 ||
        knowMe === 3 ||
        knowMe === 4 ||
        knowMe === 5 ||
        knowMe > 5
      "
    ></app-know-me-step>
    <app-know-me-step
      class="col-3"
      [step]="knowMe"
      [value]="value"
      *ngIf="knowMe === 3 || knowMe === 4 || knowMe === 5 || knowMe > 5"
    ></app-know-me-step>
    <app-know-me-step
      class="col-3"
      [step]="knowMe"
      [value]="value"
      *ngIf="knowMe === 4 || knowMe === 5 || knowMe > 5"
    ></app-know-me-step>
  </div>
  <div
    *ngIf="started && (knowMe === 5 || knowMe === 6 || knowMe > 5)"
    class="d-flex row areas"
  >
    <div class="col-4"></div>
    <div class="col-4">
      hye
    </div>
    <div class="col-4">
      hey
    </div>
  </div>
</div>
