@font-face {
  font-family: "Gotu";
  src: url("assets/fonts/Gotu/Gotu-Regular.woff2") format("woff2"),
    url("assets/fonts/Gotu/Gotu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("assets/fonts/Loto/Lato-HairlineItalic.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-Italic.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-BlackItalic.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-Light.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-Regular.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-Black.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-LightItalic.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("assets/fonts/Loto/Lato-Hairline.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Loto/Lato-Bold.woff2") format("woff2"),
    url("assets/fonts/Loto/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

// @font-face {
//   font-family: "Symbola";
//   src: url("assets/fonts/Symbola-Emoji.woff") format("woff");
// }
